langchain>=0.2.12
langchain-community>=0.2.11
langchain-text-splitters>=0.2.2
langchain-openai>=0.0.5
chromadb>=0.5.5
python-dotenv>=1.0.1
flask>=2.0.0
flask-cors>=3.0.0
openai>=1.0.0
requests>=2.31.0
typing_extensions>=4.5.0
pydantic>=2.0.0