langchain==0.1.12
langchain-community==0.0.27
langchain-core==0.1.31
sentence-transformers==2.5.1
torch==2.2.1
chromadb==0.4.24
transformers==4.38.2
accelerate==0.27.2
scipy==1.12.0
numpy==1.26.4
tqdm==4.66.2
pydantic==2.6.4
PyYAML==6.0.1